<div class= "bg-color">
  <div class="container">
    <%= form_with url: celebrities_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a celebrity"
      %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
    <div class="cards">
      <% @celebrities.each do |celebrity| %>
        <%= link_to celebrity_path(celebrity) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=celebrity.url %>)">
            <p><%= celebrity.first_name %> <%= celebrity.last_name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
