<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @celebrity.url %>');">
  <div class="container">
    <h1><%= @celebrity.first_name%> <%= @celebrity.last_name %></h1>
  </div>
</div>

<div style="width:1000px">
  <div class="container mt-3 d-flex align-items-center justify-content-start">

  <div>
    <div class="celeb-show-card">
      <h2><%= @celebrity.category.capitalize %></h2>
      <p class="celeb-age"><%= @celebrity.age %></p>
    </div>
    <div class="celeb-show-card">
      <h3>A little bit of info on your star...</h3>
      <p><%= @celebrity.bio %></p>
    </div>
  </div>

  <div class="col-12 col-sm-6 bg-white rounded p-3">
    <h3>Book <em><b><%= @celebrity.first_name %> <%= @celebrity.last_name %></b></em> right now! </h3>
    <%= render partial: "form" %>
  </div>


</div>
