<div class="container mt-3" style="width:100%">
  <h4><%= @bookings.length %> booking<%=@bookings.length == 1 ? '' : 's' %></h4>
  <ol>
  <% @bookings.each do |booking| %>
    <%= link_to booking_path(booking), style:"color: #000000; text-decoration: none" do  %>
      <div class="my-3 p-0 bg-light border-bottom" style="border-radius:10px; height:350px; overflow: hidden">
        <li class="d-flex align-items-start justify-content-start">
          <div style="border-radius:10px">
          <%= image_tag booking[1].url, style: "float: left; width:  400px; height: 350px; object-fit: cover;"%>
          </div>
          <div class="p-5 m-2 mx-5 lh-lg">
            <h1 class="lh-base"><%=booking[1].first_name %> <%=booking[1].last_name %></h1>
            <h3 class="lh-base"><%= booking[0].location %></h3>
            <div class="d-flex align-items-center justify-content-start">
              <div>
                <h5>From:</h5>
              </div>
              <div>
                <h4 class="px-5 lh-lg"><%= booking[0].start_date.strftime("%A, %eth %B  %Y at %I:%M%p") %></h4>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div>
                <h5>Until:</h5>
              </div>
              <div>
                <h4 class="px-5 lh-lg"><%= booking[0].end_date.strftime("%A, %eth %B  %Y at %I:%M%p") %></h4>
              </div>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  <% end %>
  </ol>
</div>
